body {
    font-family: 'Pontano Sans', sans-serif;
}

footer {
    text-align: center;
    margin-top: 20vw;
    font-size: 0.7rem;
}


/* ///////// Index ////////// */

.wrapper-index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    text-align: center;
}

.header_index {
    font-family: 'Cantata One', serif;
    font-size: 5.5vw;
    letter-spacing: 1.5vw;
    padding-bottom: 3vw;
}

.link-meg {
    font-size: 5vw;
    letter-spacing: 1vw;
    margin-top: -4vw;
    margin-bottom: 8vw;
}

.link-meg a:link {
    text-decoration: none;
    color: #000;
}

.link-meg a:visited {
    color: #000;
}

.link-meg a:hover {
    color: #991737;
}

.portfolio {
    background-color: #edc500;
    height: 80vw;
    width: 80vw;
    margin: auto;
    text-align: center;
    margin-top: 14vw;
}

.portfolio li {
    font-size: 5.9vw;
    text-align: center;
    letter-spacing: 1.1vw;
    text-decoration: none;
    list-style-type: none;
    padding-top: 6vw;
    padding-right: 6vw;
}

.portfolio a:link {
    text-decoration: none;
    color: #000;
}

.portfolio a:visited {
    color: #000;
}

.portfolio a:hover {
    color: #fa2ee2;
    text-transform: uppercase;

}


/* ///////// Sides ////////// */

.header_sides h1 {
    font-family: 'Cantata One', serif;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 1.2vw;
    text-transform: uppercase;
}

.hidden {
    transform: scale(0);
}

#menuknap {
    display: inline-block;
    margin-left: 48vw;
    width: 4vw;
    text-decoration: none;
    color: #000;
}

#menu {
    list-style-type: none;
    transition: transform 0.4s;
    transform-origin: top left;
    height: 200px;
    position: absolute;
    background-color: #000;
    opacity: 0.9;
    overflow-x: hidden;
    padding: 30px;
    font-family: 'Pontano Sans', sans-serif;
    z-index: 1;
    top: 0;

}

#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.1s;
    color: #fff;
    text-align: left;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    padding-bottom: 15px;
}



h2 {
    text-align: center;
    font-family: 'Fahkwang', sans-serif;
    letter-spacing: 0.2rem;
    margin-top: 15vw;
    margin-bottom: 2vw;
}

.intro {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vw;

}

.intro p {
    text-align: justify;
    letter-spacing: 0.12rem;
    word-spacing: 0.15rem;
}

.box {
    color: #000;
    background-color: #edc500;
    height: 40vw;
    width: 80vw;
    margin-bottom: 2vw;
    padding: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    padding: 5vw;
}

.container-link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    text-transform: uppercase;
}

.box-link a:hover {
    color: #991737;
}

.box-link {
    margin: 2vw;
    background-color: #444547;
    color: #fff;
    display: block;
    text-align: center;
    padding: 4vw;
    box-shadow: 2px 2px 5px #000;
    text-decoration: none;
}

.refleksjon {
    text-align: justify;
    letter-spacing: 0.08em;
    word-spacing: 0.15em;
    margin: 5vw;
}



/*//////////About//////////*/

.intro-meg {
    margin: 6vw;
    text-align: justify;
}


.bilde-dina img {
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
    opacity: 0.7;
    z-index: 0;
}





/*///////////////550px///////////////*/

@media all and (min-width: 550px) {


     /* ///////// Index ////////// */

    .wrapper-index {
        width: 75vw;
        height: 100vw;

    }

    .header_index {
        font-size: 4vw;
    }

    .link-meg {
        font-size: 3vw;
    }

    .portfolio {
        height: 70vw;
        width: 70vw;
    }

    .portfolio li {
        font-size: 5vw;
    }


    /* ///////// Sides ////////// */

    .header_sides {
        font-size: 2.5vw;
    }

    .container-1 {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .container-1-1 {
        display: flex;

    }

    .container-1-2 {
        display: flex;

    }


    .box {
        font-size: 2.2vw;
        height: 27vw;
        padding: 1.2vw;
        margin: 1vw;
    }

    .container-link {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .box-link {
        padding: 1.5vw;
    }

}




/*///////////////650px///////////////*/

@media all and (min-width: 650px) {

    .header_index {
        font-size: 3vw;
    }

    .link-meg {
        margin-bottom: -10vw;
    }
}



/*///////////////800px///////////////*/

@media all and (min-width: 800px) {

    body {
        background-image: linear-gradient(to bottom right, #991737, #fff);
        margin: auto;
        padding: 0.4vh;
        background-repeat: no-repeat;
    }

    footer {
        margin-top: 2vw;
    }

    .background-index {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: 100%;
        background-color: #fff;
    }


    /* ///////// Index ////////// */

    .wrapper-index {
        width: 70vw;
    }


    .header_index {
        padding-top: 1vh;
    }

    .link-meg {
        font-size: 2.6vw;
        margin-bottom: 6vw;
    }

    .portfolio {
        margin-top: 0;
        height: 47vw;
        width: 47vw;
    }

    .portfolio li {
        font-size: 2.4vw;
        padding-top: 5vw;
    }


    /* ///////// Sides ////////// */

    .header_sides {
        padding-top: 2vh;

    }

    .header_sides h1 {
        font-family: 'Cantata One', serif;
        font-size: 4vw;
        text-align: center;
        letter-spacing: 1.2vw;
        text-transform: uppercase;
    }


    #menuknap {
        display: block;
        margin: auto;
        text-decoration: none;
        color: #000;
    }

    .box {
        font-size: 2vw;
    }

    .container-link {
        margin-left: 10vw;
        margin-right: 10vw;
    }


    /* ///////// About ////////// */


    .container-dina {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72vw;
        height: 49vw;
        margin-top: 2vw;
        margin-left: 4vw;
        margin-bottom: 5vw;
        overflow: hidden;

    }

    .intro-meg {
        width: 40vw;
        margin: 1.8vw;
        font-size: 2.2vw;
    }

    .bilde-dina img {
        width: 50vw;
        margin-right: -15vw;
    }


}

/*///////////////900px///////////////*/


@media all and (min-width: 900px) {



    .wrapper-sides {
        margin-left: 10vw;
        margin-right: 10vw;
    }

}


@media all and (min-width: 1000px) {

     /* ///////// Index ////////// */

    .wrapper-index {
        width: 55vw;
    }

    .header_index {
        font-size: 2.5vw;
        padding-top: 1vh;
    }

    .link-meg {
        font-size: 2.4vw;
        margin-top: -4vw;
        margin-bottom: 6vw;
    }

    .portfolio {
        margin-top: 0;
        height: 35vw;
        width: 41vw;
        padding-left: 7vw;
        ;
        padding-top: 3vw
    }

    .portfolio li {
        font-size: 2vw;
        letter-spacing: 0.8vw;
        padding-top: 3vw;
    }


    /* ///////// Sides ////////// */

    .header_sides {
        padding-top: 1vh;
        font-size: 1.7vw;

    }

    .container-1 {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    h2 {
        margin-top: 10vw;
    }

    .intro p {
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: 1.4rem;
    }

    .refleksjon p {
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: 1.4rem;
    }


}


/*///////////////1200px///////////////*/

@media all and (min-width: 1200px) {

    .background-index {
        width: 70vw;
    }


     /* ///////// Index ////////// */

    .wrapper-index {
        width: 45vw;
    }

    .header_index {
        font-size: 2.1vw;
    }

    .link-meg {
        font-size: 2vw;
    }

    .portfolio {
        height: 32vw;
        width: 37vw;
        padding-left: 7vw;
        ;
        padding-top: 3vw;
    }

    .portfolio li {
        font-size: 1.9vw;
    }


    /* ///////// Sides ////////// */

    .container-1-1 {
        justify-content: center;
    }

    .container-1-2 {
        justify-content: center;
    }

    .box {
        width: 30vw;
        height: 20vw;
        font-size: 1.4vw;
        margin: 1vw;
        padding: 1vw;

    }

    .container-link {
        display: flex;
        margin: 0;
        justify-content: center;
    }

    .box-link {
        padding: 1vw;
        width: 15vw;
        height: 3vw;

    }

    /*//////////About//////////*/

    .container-dina {
        width: 55vw;
        height: 25vw;
        margin-left: 5vw;

    }

    .intro-meg {
        width: 40vw;
        font-size: 1.55vw;
        margin-right: 3vw;
    }

    .bilde-dina img {
        width: 29vw;
        margin-right: -13vw;
        margin-bottom: 0;
    }


}

/*///////////////1400px///////////////*/

@media all and (min-width: 1400px) {

    .background-index {
        width: 60vw;
    }


     /* ///////// Index ////////// */

    .link-meg {
        font-size: 1.7vw;
        margin-bottom: 4vw;
    }

    .portfolio {
        height: 26vw;
        width: 33vw;
        padding-left: 7vw;
        ;
        padding-top: 3vw;
    }

    .portfolio li {
        font-size: 1.5vw;
        letter-spacing: 0.7vw;
        padding-top: 2vw;
    }


    /* ///////// Sides ////////// */

    .header_sides {
        font-size: 1.4vw;
    }

    .container-1 {
        margin: 0vw;
    }

    .box {
        width: 24vw;
        height: 15vw;
        font-size: 1.2vw;
        margin: 1vw;
        padding: 1vw;

    }

    .intro {
        margin-top: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .refleksjon {
        margin-left: 5vw;
        margin-top: 2vw;
    }

    h2 {
        margin-top: 4vw;
    }


    /*//////////About//////////*/

    .container-dina {
        width: 50vw;
        margin-bottom: 8vw;

    }

    .intro-meg {
        font-size: 1.4vw;
    }

    .bilde-dina img {
        width: 29vw;
        margin-right: -13vw;
        margin-bottom: 0;
    }
}
